.vs
.DS_Store
.claude/
ImageToTreesXML/bin
ImageToTreesXML/.vs
ImageToTreesXML/obj
GeoSkylines/bin
GeoSkylines/.vs
GeoSkylines/burningmime.curves
GeoSkylines/obj
GeoSkylines.ExportCli/bin
GeoSkylines.ExportCli/obj
release
